body
{
    background-color: #fdfdfd;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* NAV BAR */

header
{
    min-width: 620px;
    z-index: 998; 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    border-top: thick solid #352b28
}

.nav-container ul {
    float:right;
    padding-top:45px;
    padding-bottom: 8px;
    padding-left: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.nav-container ul li a
{
    color:#7a7a7a;
    padding: .2rem 2.5rem .7rem 1.5rem;
    text-decoration: none;
    display: block;
}

.nav-container ul li a:hover{
    color: #3e3e3e;
}

.nav-container
{
    height:120px;
    letter-spacing: 0.2px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
            font-style: normal;
            font-variant: normal;
            font-weight: 300;
            line-height: 20px;
}

.zilla-mobile-menu-dropdown {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 18px;
                font-style: normal;
                font-variant: normal;
                font-weight: 300;
                line-height: 20px;
        color: #352b28;        
	background: #ffffff;
	border: 2px solid #352b28; 
	cursor: pointer;
	display: block;
	padding: 15px 20px;
	font-size: 20px;
	line-height: 1em;
	position: fixed;
	top: 40px;
	right: 20px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 999;
        display: block;
        text-decoration: none;
}

.zilla-mobile-menu {
    background: #f5cda2;
    display: none;
    width:100%;
    position:fixed;
    left: 0;
    top:110px;
    z-index: 998;
    color: #352b28;
    text-decoration: none;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.zilla-mobile-menu-dropdown:hover{
    background-color: #352b28;
    color: #fdfdfd;
}
/* END OF NAV BAR */

ul.home-image-list,
ul.case-image-list{
  list-style-type: none;
  padding: 1rem;
  text-align: center;
}

ul.home-image-list li,
ul.case-image-list li{
  float: left;
  position: relative;
  margin:20px;
  
}

span.text-content {
  background: rgba(0,0,0,0.25);
  color: #fdfdfd;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

span.case-text-content {
  background: rgba(0,0,0,0.25);
  color: #fdfdfd;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

span.text-content span,
span.case-text-content span{
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

ul.home-image-list li:hover span.text-content,
ul.case-image-list li:hover span.case-text-content{
  opacity: 1;
}

ul.home-image-list li:hover,
ul.case-image-list li:hover{
    position:relative;
    z-index: 0;
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);;
}

.home-image-div
{    max-width: 1400px;
    padding-left: 1%;
    padding-right: 1%;
    width:auto;
    margin: 0 auto;
}

.case-image-div{
    max-width: 1600px;
    padding-left: 1%;
    padding-right: 1%;
    width:auto;
    margin: 0 auto;
}

#home-paragraph
{
    max-width:1600px;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
	font-style: normal;
	font-variant: normal;
	line-height: 30px;
}

.page-title
{
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
	font-style: normal;
	font-variant: normal;
	line-height: 30px;
}

.page-title h3 
{
    margin-bottom: 0;
    padding-bottom: 35px;
}

.photo-head{
    
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
	font-style: normal;
	font-variant: normal;
	line-height: 30px;
}

.photo-subhead{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;
}

.photo-para{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}

.-div{
    padding-bottom: 20px;
    min-width: 700px
}

.push
{
    height: 50px;
}

footer
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;    
    position: relative;
    height:50px;
    width:98%;
    margin: 0 auto;
    text-align: center;
}

footer img:hover
{
    opacity: 0.7;
}

@media (min-width: 889px)
{
    .zilla-mobile-menu{visibility: hidden;}
    .zilla-mobile-menu-dropdown{display:none;}
    .nav-container ul{ display: block;}
}

@media (max-width: 889px)
{
    .zilla-mobile-menu-dropdown{display:block;}
    .nav-container ul{ display: none;}
}
